### 달력 만들기

In [10]:
month = range(1,13)
day = [31,28,31,30,31,30,31,31,30,31,30,31]
dict_date = {0:"Su",1:"Mo",2:"Tu",3:"We",4:"Th",5:"Fr",6:"Sa"}

index = 0
first_row = False
a=[]

for m in month:
    print(f"{m:10} 월")
    print(" ".join(dict_date.values()))

    first_row = True

    for d in range(1,day[m-1]+1):
        a.append([index,d])
        if index%7==0 and index/7 > 0 and first_row==False:
            print()

        if first_row:
            print(f"{'   '*(index%7)}", end="")
            first_row = False
        print(f"{d:2}", end=" ")
        index += 1
    print()
    print()

         1 월
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

         2 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

         3 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

         4 월
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

         5 월
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

         6 월
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

         7 월
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

         8 월
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

         9 월
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

        10 월
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

        11 월
Su Mo Tu We Th Fr Sa
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

        12 월
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

### 조합식
- https://namu.wiki/w/%EC%A1%B0%ED%95%A9

In [20]:
def factorial(n):
    a = 1
    for i in range(1, n + 1):
        a*= i
    return a

In [21]:
factorial(5)

120

In [24]:
def combi(n,r):
    result = factorial(n) / (factorial(n-r) * factorial(r))
    return int(result)

In [25]:
combi(5,3)

10